*~
.DS_Store
Pods
xcuserdata
*.xcbkptlist
IDEWorkspaceChecks.plist
WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate
xcschememanagement.plist
contents.xcworkspacedata
IDEFindNavigatorScopes.plist
fastlane/README.md
fastlane/report.xml
fastlane/test_output

FailureDiffs

.bundle
